################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2.9 Circuit Board Price/2.9 Circuit Board Price/1 Main Template.cpp
